/* Resets */
body {
  padding: 0;
  margin: 0;
}

/* Metronome stylings */
.section.metronome {
  text-align: center;
}

#play-pause-btn {
  font-size: 30px;
  border-radius: 30px;
}

.metronome .logo {
  position: relative;
  top: 4px;
  left: 2px;
}

.beats-visual > .beat {
  height: 30px;
  margin: 2px;
}
