/* Resets */
body {
  padding: 0;
  margin: 0;
}

/* Shared stylings */
.section {
  width: 80%;
  margin: 29px auto 0;
  text-align: center;
}

.section.beats,
.section.notes-per-beat {
  border-top: 1px solid #cccccc;
  padding: 0 10px;
}

.section > .title {
  text-align: left;
  margin-top: 6px;
}

/* Metronome stylings */
.section.metronome {
  margin-bottom: 50px;
}

#play-pause-btn {
  font-size: 30px;
  border-radius: 30px;
}

.metronome .logo {
  position: relative;
  top: 4px;
  left: 2px;
}

.visual-bpm > .bpm-micro-adjuster {
  border-radius: 25px;
  height: 38px;
  margin-top: -5px;
}

.bpm-micro-adjuster > .logo {
  left: 0;
  top: 2px;
  font-size: 15px;
}

.beats-visual > .beat {
  height: 30px;
  margin: 2px;
}

.beats-visual > .beat-played {
  content: url('../img/beats/beat_2.png');
}

/* Beats stylings */
.beats > .beat-count-wrapper {
  margin-right: 47px;
}

.beats > .emphasize-1st-beat {
  position: relative;
  top: 2px;
}

/* Notes-Per-Beat stylings */
.notes-per-beat .note-logo {
  height: 40px;
}

.notes-per-beat .note-btn {
  padding: 6px;
  margin: 0 7px;
}