/* Resets */
body {
  padding: 0;
  margin: 0;
}

/* Metronome stylings */
.section.metronome {
  text-align: center;
}

#play-pause-btn {
  font-size: 30px;
  border-radius: 30px;
}

.metronome .logo {
  position: relative;
  top: 4px;
  left: 2px;
}

.visual-bpm > .bpm-micro-adjuster {
  border-radius: 25px;
  height: 38px;
  margin-top: -5px;
}

.bpm-micro-adjuster > .logo {
  left: 0;
  top: 2px;
  font-size: 15px;
}

.beats-visual > .beat {
  height: 30px;
  margin: 2px;
}

.beats-visual > .beat-played {
  content:url('../img/beats/beat_2.png');
}

