<!DOCTYPE html>

<html>
<head>
  <meta charset='UTF-8'>

  <link rel='shortcut icon' href='../assets/img/metrognome_logo.ico'>
  <title>MetroGnome</title>

  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' href='../../vendors/css/bootstrap.min.css'>
  <link rel='stylesheet' href='../assets/css/custom.css'>
</head>

<body>
  <div class='section metronome'>
    <div class='beats-visual'>
      <img src='../assets/img/beats/beat_1.png' class='beat'>
      <img src='../assets/img/beats/beat_1.png' class='beat'>
    </div>
    <h2 class='visual-bpm'>
      <a class='btn btn-default bpm-micro-adjuster' id='bpm-decrease-btn'>
        <span class='glyphicon glyphicon-chevron-left logo'></span>
      </a>
      <span>
        <span id='bpm-indicator'>90</span>bpm
      </span>
      <a class='btn btn-default bpm-micro-adjuster' id='bpm-increase-btn'>
        <span class='glyphicon glyphicon-chevron-right logo'></span>
      </a>
    </h2>
    <input type='range' min='20' max='260' value='90' id='bpm-range-slider' />
    <a class='btn btn-default' id='play-pause-btn'>
      <span class='glyphicon glyphicon-play logo'></span>
    </a>
    <button class='btn btn-success tap-tempo-btn' id='tap-tempo-btn' data-toggle='tooltip' data-placement='right' title="You can also use your keyboard's space bar to tap the tempo.">
      Tap Tempo
    </button>
  </div>
  <div class='section beats'>
    <h2 class='title'>Beats</h2>
    <span class='beat-count-wrapper'>
      <select id='beat-count'>
        <option value='2'>2</option>
        <option value='3'>3</option>
        <option value='4'>4</option>
        <option value='5'>5</option>
        <option value='6'>6</option>
        <option value='7'>7</option>
        <option value='8'>8</option>
        <option value='9'>9</option>
        <option value='10'>10</option>
        <option value='11'>11</option>
        <option value='12'>12</option>
      </select>
      <b>Beats</b>
    </span>
    <input type='checkbox' class='emphasize-1st-beat' id='emphasize-1st-beat' />
    <label for='emphasize-1st-beat'>Emphasize 1st beat</label>
  </div>
  <div class='section notes-per-beat'>
    <h2 class='title'>Note</h2>
    <div type='button' class='btn btn-danger note-btn focused' id='single-btn'>
      <img src='../assets/img/notes/single.png' class='note-logo'>
    </div>
    <div type='button' class='btn btn-danger note-btn' id='tuplets-btn'>
      <img src='../assets/img/notes/tuplets.png' class='note-logo'>
    </div>
    <div type='button' class='btn btn-danger note-btn' id='triplets-btn'>
      <img src='../assets/img/notes/triplets.png' class='note-logo'>
    </div>
    <div type='button' class='btn btn-danger note-btn' id='triplets-mid-rest-btn'>
      <img src='../assets/img/notes/triplets_mid_rest.png' class='note-logo'>
    </div>
    <div type='button' class='btn btn-danger note-btn' id='quadruplets-btn'>
      <img src='../assets/img/notes/quadruplets.png' class='note-logo'>
    </div>
  </div>
  <div class='section timer footer'>
    <h2 class='title'>Timer</h2>
    <span class='wrapper enable-timer-wrapper'>
      <input type='checkbox' class='enable-timer-toggler' id='enable-timer-toggler' />
      <label for='enable-timer-toggler'>Enable Timer</label>
    </span>
    <span class='wrapper min-wrapper'>
      <select id='min-select' disabled='true'>
        <option val='00'>00</option>
        <option val='01' selected>01</option>
        <option val='02'>02</option>
        <option val='03'>03</option>
        <option val='04'>04</option>
        <option val='05'>05</option>
        <option val='06'>06</option>
        <option val='07'>07</option>
        <option val='08'>08</option>
        <option val='09'>09</option>
        <option val='10'>10</option>
        <option val='11'>11</option>
        <option val='12'>12</option>
        <option val='13'>13</option>
        <option val='14'>14</option>
        <option val='15'>15</option>
        <option val='16'>16</option>
        <option val='17'>17</option>
        <option val='18'>18</option>
        <option val='19'>19</option>
        <option val='20'>20</option>
        <option val='21'>21</option>
        <option val='22'>22</option>
        <option val='23'>23</option>
        <option val='24'>24</option>
        <option val='25'>25</option>
        <option val='26'>26</option>
        <option val='27'>27</option>
        <option val='28'>28</option>
        <option val='29'>29</option>
        <option val='30'>30</option>
        <option val='31'>31</option>
        <option val='32'>32</option>
        <option val='33'>33</option>
        <option val='34'>34</option>
        <option val='35'>35</option>
        <option val='36'>36</option>
        <option val='37'>37</option>
        <option val='38'>38</option>
        <option val='39'>39</option>
        <option val='40'>40</option>
        <option val='41'>11</option>
        <option val='42'>42</option>
        <option val='43'>43</option>
        <option val='44'>44</option>
        <option val='45'>45</option>
        <option val='46'>46</option>
        <option val='47'>47</option>
        <option val='48'>48</option>
        <option val='49'>49</option>
        <option val='50'>50</option>
        <option val='51'>51</option>
        <option val='52'>52</option>
        <option val='53'>53</option>
        <option val='54'>54</option>
        <option val='55'>55</option>
        <option val='56'>56</option>
        <option val='57'>57</option>
        <option val='58'>58</option>
        <option val='59'>59</option>
      </select>
      <b>m</b>
    </span>
    <span class='wrapper sec-wrapper'>
      <select id='sec-select' disabled='true'>
        <option val='00' selected>00</option>
        <option val='01'>01</option>
        <option val='02'>02</option>
        <option val='03'>03</option>
        <option val='04'>04</option>
        <option val='05'>05</option>
        <option val='06'>06</option>
        <option val='07'>07</option>
        <option val='08'>08</option>
        <option val='09'>09</option>
        <option val='10'>10</option>
        <option val='11'>11</option>
        <option val='12'>12</option>
        <option val='13'>13</option>
        <option val='14'>14</option>
        <option val='15'>15</option>
        <option val='16'>16</option>
        <option val='17'>17</option>
        <option val='18'>18</option>
        <option val='19'>19</option>
        <option val='20'>20</option>
        <option val='21'>21</option>
        <option val='22'>22</option>
        <option val='23'>23</option>
        <option val='24'>24</option>
        <option val='25'>25</option>
        <option val='26'>26</option>
        <option val='27'>27</option>
        <option val='28'>28</option>
        <option val='29'>29</option>
        <option val='30'>30</option>
        <option val='31'>31</option>
        <option val='32'>32</option>
        <option val='33'>33</option>
        <option val='34'>34</option>
        <option val='35'>35</option>
        <option val='36'>36</option>
        <option val='37'>37</option>
        <option val='38'>38</option>
        <option val='39'>39</option>
        <option val='40'>40</option>
        <option val='41'>11</option>
        <option val='42'>42</option>
        <option val='43'>43</option>
        <option val='44'>44</option>
        <option val='45'>45</option>
        <option val='46'>46</option>
        <option val='47'>47</option>
        <option val='48'>48</option>
        <option val='49'>49</option>
        <option val='50'>50</option>
        <option val='51'>51</option>
        <option val='52'>52</option>
        <option val='53'>53</option>
        <option val='54'>54</option>
        <option val='55'>55</option>
        <option val='56'>56</option>
        <option val='57'>57</option>
        <option val='58'>58</option>
        <option val='59'>59</option>
      </select>
      <b>s</b>
    </span>
    <button class='btn btn-default time-resetter' id='time-resetter' disabled='true'>Reset Timer</button>
  </div>

  <div class='modal fade error-message' id='error-msg-modal' tabindex='-1' role='dialog'>
    <div class='modal-dialog' role='document'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h4 class='modal-title head-text'>Oops&hellip;</h4>
        </div>
        <div class='modal-body'>
          <p class='error-text'>Timer must be set for atleast 1 second!</p>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-success modal-close' data-dismiss='modal'>Okay</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Scripts -->
  <script src='../../vendors/js/jquery.min.js'></script>
  <script src='../../vendors/js/bootstrap.min.js'></script>
  <script src='../../vendors/js/tone.js'></script>
  <script src='../assets/js/main.js'></script>
</body>
</html>