/* Resets */
body {
  padding: 0;
  margin: 0;
}

/* Shared stylings */
.tooltip .tooltip-inner {
  font-size: 12px;
  letter-spacing: 1px;
}

.section {
  width: 80%;
  margin: 29px auto 0;
  text-align: center;
}

.section.beats,
.section.notes-per-beat,
.section.timer {
  border-top: 1px solid #cccccc;
  padding: 0 10px;
}

.section > .title {
  text-align: left;
  margin-top: 6px;
}

/* Metronome stylings */
.section.metronome {
  margin-bottom: 50px;
}

#play-pause-btn {
  margin: 10px 0 0 0;
  font-size: 30px;
  border-radius: 30px;
}

.metronome .logo {
  position: relative;
  top: 4px;
  left: 2px;
}

.visual-bpm > .bpm-micro-adjuster {
  border-radius: 25px;
  height: 38px;
  margin-top: -5px;
}

.bpm-micro-adjuster > .logo {
  left: 0;
  top: 2px;
  font-size: 15px;
}

.beats-visual > .beat {
  height: 30px;
  margin: 2px;
}

.beats-visual > .beat-played {
  content: url('../img/beats/beat_2.png');
}

.metronome .tap-tempo-btn {
  display: block;
  margin: 20px auto;
  font-size: 20px;
  font-weight: 600;
}

/* Beats stylings */
.beats > .beat-count-wrapper {
  margin-right: 47px;
}

.beats > .emphasize-1st-beat {
  position: relative;
  top: 2px;
}

/* Notes-Per-Beat stylings */
.notes-per-beat .note-logo {
  height: 40px;
}

.notes-per-beat .note-btn {
  padding: 6px;
  margin: 0 7px;
}

.note-btn.focused {
  background-color: #c9302c;
  border-color: #761c19;
}

/* Timer stylings */
.timer .wrapper {
  position: relative;
  top: 2px
}

.timer > .wrapper {
  margin: 0 5px;
}

.enable-timer-wrapper > .enable-timer-toggler {
  position: relative;
  top: 1px;
}

.timer > .time-resetter {
  margin: 0 0 0 25px;
}

.section.remaining-time-wrapper {
  text-align: right;
  font-size: 17px;
}

.remaining-time-wrapper > .time-monitor {
  margin-left: 7px;
}

.remaining-time-wrapper.disabled {
  color: #b3b3b3;
}

/* Footer */
.footer {
  margin-bottom: 100px;
}

/* Modal */
.error-message .error-text {
  font-size: 20px;
}

.error-message .head-text {
  font-size: 23px;
}

.error-message .modal-close {
  font-weight: bold;
}